<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورشات العمل</title>

    
    <%- include("partials/header"); -%>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <h1 class="workShop-type">ورشات العمل</h1>
                    <div class="banner-rule2"></div>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>

    <div class="main-contant">
        <div class="about-content">
            <div class="index"><span class="trail-begin"><a href="index.html" title="The University" rel="home">الصفحة الرئيسية</a></span>
                <em class="sep"></em> <span class="trail-end">ورشات العمل</span>
           </div>
           <div class="workShowps">
                <p style="margin-bottom: 3rem;"><strong>في هذه الصفحة:</strong> <a href="#faculty">ورشات العمل القادمة</a> <span style="color: #D3D4D6">|</span><a href="#working-for-The">ورشات العمل المنتهية  </a></p>
                <div class="workShowps-wraper">
                    <div class="workShop-type" id="faculty">ورشات العمل القادمة</div>
                    <div class="workShop-style"></div>
                    <div class="workShop-list">  
                        <div class="workShop-row">
                                                <% workShops.forEach(shop => { %>
                                                    <% if (shop.date >= now) { %>
                                                <div class="workShop-card">         
                                                    <div class="workShop-card-inner">
                                                        <img src="<%= shop.image %>" class="workShop-card-img">
                                                        <div class="workShop-text">
                                                            <div class="workShop-text-title"><a href=""><%= shop.title %></a></div>
                                                            <div class="workShop-text-info">
                                                                
                                                                <div class="workShop-text-info-info">ستبداء : <%= shop.dates %> <% if(lvl != -1) { %>
                                                                    <a href="/edit-workShops<%= shop.title %>" class="btn btn-secondary">تعديل</a>
                                                                    <button class="sign-btn btn btn-danger">حذف</button>
                                                                        <div class="model">
                                                                            <div class="model-header" dir="rtl">
                                                                            <h3 class="model-title">تنبيه</h3>
                                                                            <button class="close-btn" id="close-btn">&times;</button>
                                                                            </div>
                                                                            <div class="model-body" style="text-align: center;">
                                                                                <h4 style="font-size: large; display: inline-block;">هل انت متاكد من حدف ورشة العمل <br> <%= shop.title %></h4>
                                                                            </div>
                                                                            <div style="display: flex; align-items: center; justify-content: center;">
                                                                                <form action="/workShop" method="post">
                                                                                    <input type="text" style="display: none;" name="image" value="<%= shop.image %>">
                                                                                    <button class="btn btn-danger mb-3 " style="text-decoration: none;">حذف</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    <%}; %>
                                                                </div>
                                                            </div>
                                                            <div class="workShop-text-text"><%= shop.body %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }}); %>
                                                    </div>
                                                </div>
                                                
                        </div>
                    </div>
                </div>
<!-- -------------------------------------------- -->
<div class="workShowps-wraper">
    <div class="workShop-type" id="working-for-The">ورشات العمل المنتهية</div>
    <div class="workShop-style"></div>
    <div class="workShop-list">  
        <div class="workShop-row">
                                <% workShops.forEach(shop => { %>
                                    <% if (shop.date <= now) { %>
                                <div class="workShop-card">         
                                    <div class="workShop-card-inner">
                                        <img src="<%= shop.image %>" class="workShop-card-img">
                                        <div class="workShop-text">
                                            <div class="workShop-text-title"><a href=""><%= shop.title %></a></div>
                                            <div class="workShop-text-info">
                                                
                                                <div class="workShop-text-info-info"><span>بدأت : </span><%= shop.dates %><% if(lvl != -1) { %>
                                                    <a href="/edit-workShops<%= shop.title %>" class="btn btn-secondary">تعديل</a>
                                                        <button class="sign-btn btn btn-danger">حذف</button>
                                                        <div class="model">
                                                            <div class="model-header" dir="rtl">
                                                            <h3 class="model-title">تنبيه</h3>
                                                            <button class="close-btn" id="close-btn">&times;</button>
                                                            </div>
                                                            <div class="model-body" style="text-align: center;">
                                                                <h4 style="font-size: large; display: inline-block;">هل انت متاكد من حدف ورشة العمل <br> <%= shop.title %></h4>
                                                            </div>
                                                            <div style="display: flex; align-items: center; justify-content: center;">
                                                                <form action="/workShop" method="post">
                                                                    <input type="text" style="display: none;" name="title" value="<%= shop.title %>">
                                                                    <button class="btn btn-danger mb-3 " style="text-decoration: none;">حذف</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    <%}; %>
                                                </div>
                                            </div>
                                            <div class="workShop-text-text"><%= shop.body %></div>
                                        </div>
                                    </div>
                                </div>
                                <% }}); %>
        </div>
    </div>
    </div>
</div>



            </div>
        </div>  
        
    
    </div>

    

    <%- include("partials/footer"); -%>
